body {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    line-height: 1.5;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background: rgb(180, 188, 195);
    border-radius: 20px;
    border: 3px solid rgb(180, 188, 195);
}

table tbody tr td {
    line-height: 1.5 !important;
}

.table td img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

input::placeholder,
textarea::placeholder {
    color: #495057 !important;
}

.exercise__detail nav .nav-tabs a {
    width: 38px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.exercise__detail nav .nav-tabs a.active {
    background-color: #fb5533 !important;
    color: #fff !important;
}

.ck-editor__editable {
    min-height: 150px;
}

a {
    text-decoration: none !important;
}

.text-orange {
    color: #fb5533 !important;
}

p {
    line-height: 1.5 !important;
}

.fw-primary {
    font-weight: 600;
}

.system__list table tbody tr .value {
    line-height: 1.5;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding: 1.25rem 0.9375rem;
    height: 75px;
}

.file-drop-area {
    position: relative;
    display: flex;
    align-items: center;
    width: 450px;
    max-width: 100%;
    padding: 6px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    transition: 0.2s;
    color: #444;
}

.file-drop-area.is-active {
    background-color: rgba(255, 255, 255, 0.05);
}

.fake-btn {
    flex-shrink: 0;
    background-color: #eff2f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 8px 15px;
    margin-right: 10px;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}

.file-msg {
    font-size: small;
    font-weight: 300;
    line-height: 1.4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}

.file-input:focus {
    outline: none;
}

#btn-submit-add-excel,
#btn-cancel,
.form-upload button[type="submit"],
.form-upload button[type="button"] {
    display: none;
}

.statistical__detail ul {
    list-style-type: none;
}

.statistical__detail .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0;
}

.statistical__detail nav .nav-tabs a.active {
    background-color: #fb5533 !important;
    color: #fff !important;
}

.statistical__detail .form-check-label {
    display: flex;
    align-items: center;
    gap: 4px;
}

.statistical__detail .form-check-label p {
    margin-bottom: 0;
}

.bg-green {
    background-color: #35a801;
}

textarea {
    line-height: 1.5 !important;
}

.form-control {
    border: 1px solid #d4d4d4;
}

.form-control:focus {
    border-color: #132c46;
}

select.form-control {
    padding: 0.75rem;
    color: #495057;
}

.form-check-input-custom {
    display: none;
}

.form-check-input-custom + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.form-check-input-custom + label span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #ffffff;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}

.form-check-input-custom.color-1 + label span {
    background-color: #2ecc71;
}

.form-check-input-custom.color-2 + label span {
    background-color: #3498db;
}

.form-check-input-custom.color-3 + label span {
    background-color: #f1c40f;
}

.form-check-input-custom.color-4 + label span {
    background-color: #e74c3c;
}

.form-check-input-custom + label span img {
    opacity: 0;
    transition: all 0.3s ease;
}

.form-check-input-custom:checked + label span img {
    opacity: 1;
}

.custom-desc {
    position: absolute;
    bottom: calc(100% + 8px);
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #222;
    font-size: 14px;
    border-radius: 8px;
    color: #fff;
    padding: 12px;
    min-width: 232px;
    max-width: 272px;
    display: none;
}

.form-check-input-custom + label:hover + .custom-desc {
    display: block;
}


/* edit */



.main-datatable>thead>tr>th {
    border-bottom-width: 0;
    color: #443f3f;
    font-weight: 600;
    padding: 16px 15px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
}

.edit{
    margin-right: 20px;
    border-right-width: 10px;
    border-left-width: 10px;
    border-radius: 10px;
    color: #000000;
}
.remove{
    border-radius: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
    color: #fff;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: bold; 
    font-size: large;
}
div.dataTables_wrapper div.dataTables_filter input{
    border-radius: 50px;
    margin-left: 8px;
    height: 34px;
    padding: 0px 25px 0px 10px;
}

.eggy .title,
.eggy .message {
  line-height: 1.5; 
}


/* =========== Google Fonts ============ */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

/* =============== Globals ============== */
* {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #2a2185;
  --white: #fff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

/* =============== Navigation ================ */
.navigation {
  position: fixed;
  width: 250px;
  height: 100%;
  background: #1746A2;
  border-left: 10px solid #1746A2;
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}


.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}

/* --------- curve outside ---------- */
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 40px;
  height: 50px;
  bottom: -50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}

/* ===================== Main ===================== */
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.user {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ======================= Cards ====================== */
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}

.cardBox .cardd {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .carddd {
  position: relative;
  background: #54B435;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
.cardBox .carddd .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: #153462;
}
.cardBox .carddd:hover {
  background: #BCE29E;
}

.cardBox .carddd .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .carddd .cardName {
  color: #153462;
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .carddd .iconBx {
  font-size: 3.5rem;
  color: red;
  text-align: center;
}


.cardBox .cardd .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--blue);
}

.cardBox .cardd .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .cardd .iconBx {
  font-size: 3.5rem;
  color: var(--black2);
}

.cardBox .cardd:hover {
  background: var(--blue);
}
.cardBox .cardd:hover .numbers,
.cardBox .cardd:hover .cardName,
.cardBox .cardd:hover .iconBx {
  color: var(--white);
}

/* ================== Order Details List ============== */
.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 30px;
  /* margin-top: 10px; */
}

.details .recentOrders {
  position: relative;
  display: grid;
  min-height: 300px;
  background: var(--white);
  padding: 5px;
  /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08); */
  border-radius: 20px;
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 0px;
  top: 0px;
}
.details table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background: var(--blue);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 25px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
} 
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #e9b10a;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.return {
  padding: 2px 4px;
  background: #f00;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inProgress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: var(--white);
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.recentCustomers .imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  overflow: hidden;
}
.recentCustomers .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr td {
  padding: 12px 10px;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2rem;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: var(--black2);
}
.recentCustomers table tr:hover {
  background: var(--blue);
  color: var(--white);
}
.recentCustomers table tr:hover td h4 span {
  color: var(--white);
}

/* ====================== Responsive Design ========================== */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
