$red-color: rgb(255, 38, 0);
$primary-color: #004603;
$white-color: #fff;
$black-color: #000;

$color1: #213f70;
$color2: #122548;
$naranjo: #38E54D;

$tablet: 1024px;
$mobile: 768px;
$laptop: 1224px;






