@import 'variables';



@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) and (min-width: $mobile) {
        @content;
    }
}

@mixin laptop {
    @media (max-width: $laptop) {
        @content;
    }
}

.card-course-item {
    margin-top: 10px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background: rgba(200, 200, 200, 0.99);
}
.main-datatable>thead>tr>th {
    border-bottom-width: 0;
    color: #443f3f;
    font-weight: 600;
    padding: 16px 15px;
    vertical-align: middle;
    padding-left: 18px;
    text-align: center;
}

.edit {
    margin-right: 20px;
    border-right-width: 10px;
    border-left-width: 10px;
    border-radius: 10px;
    color: #000000;
}

.remove {
    border-radius: 10px;
    border-right-width: 10px;
    border-left-width: 10px;
    color: #fff;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: bold;
    font-size: large;
}

div.dataTables_wrapper div.dataTables_filter input {
    border-radius: 50px;
    margin-left: 8px;
    height: 34px;
    padding: 0px 25px 0px 10px;
}

.eggy .title,
.eggy .message {
    line-height: 1.5;
}

@import './main';
@import "./button";
@import "./sidebar";
@import "./login";

@import "./reset";
@import "./header";
@import "./quiz";
