<div class="row">
    {{#each user}}
    <div class="col-sm-10 mx-auto">
        <h4 class="infor__title mb-4 fw-bold">Đổi mật khẩu</h4>
        <div class="section__changePass shadow">
            <div class="row">
                <div class="col-sm-4">
                    <div class="banner__changePass" {{!-- thay cái background của ảnh ở đây --}}
                        style="background-image: linear-gradient(rgb(135, 118, 236), rgb(45, 218, 241)), url();"><img
                            src="https://hdgmvietnam.com/admin/upload/image/giao-hoi-cong-giao-dan-than-trong-su-mang-giao-duc.jpg"
                            alt="" /></div>
                </div>
                <div class="col-sm-8 form__changePass">
                    <span style="font-size: 20px">Tài khoản : {{this.email}}</span>
                    <form class="form__wrapper" name="form-change-password"
                        action="/password/change/{{this._id}}?_method=PUT" method="POST">
                        <div class="form__group mb-4">
                            <label class="col-sm-12" for="passwordOld">Mật khẩu cũ <span
                                    class="text-danger">(*)</span></label>
                            <div class="col-sm-12 ps-0">
                                <input class="form-control" id="passwordOld" type="password"
                                    placeholder="Nhập mật khẩu cũ" name="passwordOld" maxlength="30" value="" />
                            </div>
                        </div>
                        <div class="form__group mb-4">
                            <label class="col-sm-12" for="passwordNew">Mật khẩu mới <span
                                    class="text-danger">(*)</span></label>
                            <div class="col-sm-12 ps-0">
                                <input class="form-control" id="passwordNew" type="password"
                                    placeholder="Nhập mật khẩu mới" name="passwordNew" maxlength="30" value="" />
                            </div>
                        </div>
                        <div class="form__group pb-4">
                            <label class="col-sm-12" for="passwordConfirm">Xác nhận mật khẩu <span
                                    class="text-danger">(*)</span></label>
                            <div class="col-sm-12 ps-0">
                                <input class="form-control" id="passwordConfirm" type="password"
                                    placeholder="Nhập lại mật khẩu mới" name="passwordConfirm" maxlength="30"
                                    value="" />
                            </div>
                        </div>
                        <div class="box__update">
                            <button class="btn__update" id="btn-change-password" type="submit">C&#x1EAD;p
                                nh&#x1EAD;t</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // toast message
        let msgToastError = '#{msgError}';
        if (msgToastError != '') {
            Eggy({
                title: 'Oops... Có gì đó không đúng',
                message: msgToastError,
                type: 'warning',
                duration: 5000,
            });
        }

        let msgToastSuccess = '#{msgSuccess}';
        if (msgToastSuccess != '') {
            Eggy({
                title: 'Thành công',
                message: msgToastSuccess,
                type: 'success',
                duration: 5000,
            });
        }
    })
</script>