<div class="container">
    <div class="row">
        <div class="col-10">
            <h2>Phù hợp với bạn</h2>
            {{#each blog}}
            <hr >
            <div class="d-flex position-relative" style="margin: 20px;">
                <img src="{{this.image}}" style="width: 150px;height:150px" class="flex-shrink-0 me-3" alt="">
                <div>
                    <h5 class="mt-0">{{this.title}}</h5>
                    <p style="max-height: 150px">
                        <b>Chủ Đề: </b>
                        {{#this.BlogCategory}}
                        {{{category}}}
                        {{/this.BlogCategory}}
                    </p>
                    <a text-decoration: none; href="/blog/{{this.slug}}" class="stretched-link">Chi tiết</a>
                </div>
            </div>
            {{/each}}
        </div>
        </div> 
    </div>