<section class="roles__list">    
    <div class="col-lg-8 grid-margin stretch-card mx-auto">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center justify-content-between">
                    <h4 class="card-title">Danh sách Học Phần</h4>
                    <a class="btn btn-outline-warning btn-icon-text" href="/grade/list"> 
                        <i class="mdi mdi-reload btn-icon-prepend"></i>
                        Quay lại
                    </a>
                </div>
                <div class="table-responsive pt-3">
                    <table class="table table-hover text-dark ">
                        <thead>
                            <tr> 
                                <th class="font-weight-bold">#</th>
                                <th class="font-weight-bold">Tên Học Phần</th>
                                <th class="font-weight-bold">Mô tả</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Phần Lý Thuyết</td>
                                <td>Những Bài học lý thuyết</td>
                            </tr>  
                            <tr>
                                <td>2</td>
                                <td>Phần Kinh</td>
                                <td>Những bài kinh của lớp</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>