<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a href="/"><img src="/img/aboutus.png" alt="logo"
        style="height: 30px; width:30px; margin-right : 20px; margin-left : 10px">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="#">Tạo phòng
                <span>
                  {{!-- kiếm hình hợp lý --}}
                  <img src="/img/aboutus.png" alt="logo"
                    style="height: 15px; width:15px; margin-right : 20px; margin-left : 10px">
                </span>
              </a>

            </li>
            <li><a class="dropdown-item" href="#">Thi đấu
                <span>
                  {{!-- kiếm hình hợp lý --}}
                  <img src="/img/aboutus.png" alt="logo"
                    style="height: 15px; width:15px; margin-right : 20px; margin-left : 10px">
                </span>
              </a></li>
            <li><a class="dropdown-item" href="#">Blog
                <span>
                  {{!-- kiếm hình hợp lý --}}
                  <img src="/img/aboutus.png" alt="logo"
                    style="height: 15px; width:15px; margin-right : 20px; margin-left : 10px">
                </span>
              </a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Hỏi đáp
                <span>
                  {{!-- kiếm hình hợp lý --}}
                  <img src="/img/aboutus.png" alt="logo"
                    style="height: 15px; width:15px; margin-right : 20px; margin-left : 10px">
                </span>
              </a></li>
          </ul>
        </li>
      </ul>

      {{!-- search --}}
      {{!-- <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> --}}

      <div class="SiteAvatar TopNavigationItem">
        {{!-- ảnh đại diện --}}
        <div data-overlay-container="true">
          <div type="button" tabindex="0" id="react-aria1488067590-35" aria-haspopup="true" aria-expanded="false"
            aria-label="Cài đặt" role="button">
            <img alt="Ảnh hồ sơ" class="AssemblyAvatar" src="" style="width: 30px;height: 30px;">
          </div>
        </div>

        {{!-- không có tài khoản --}}
        {{!-- button đăng nhập --}}
      </div>
    </div>
  </div>
</nav>