  <div class="navigation">
    <ul>
        <li>
            <a href="/admin">
                <span class="icon">
                    <ion-icon name="book-outline"></ion-icon>
                </span>
                <span class="title">Admin Giáo lý</span>
            </a>
        </li>

        <li>
            <a href="/admin">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/user/list">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">Quản lý người dùng</span>
            </a>
        </li>

        <li>
            <a href="/grade/list">
                <span class="icon">
                    <ion-icon name="people-circle-outline"></ion-icon>
                </span>
                <span class="title">Quản lý lớp học</span>
            </a>
        </li>

        <li>
            <a href="/blog/list">
                <span class="icon">
                   <ion-icon name="earth-outline"></ion-icon>
                </span>
                <span class="title">Quản lý blog</span>
            </a>
        </li>

        <li>
            <a href="/competition/ranks">
                <span class="icon">
                   <ion-icon name="stats-chart-outline"></ion-icon>
                </span>
                <span class="title">Xếp Hạng thi đấu</span>
            </a>
        </li>

        <li>
            <a href="/reports/list">
                <span class="icon">
                   <ion-icon name="alert-circle-outline"></ion-icon>
                </span>
                <span class="title">Quản lý báo lỗi</span>
            </a>
        </li>

        <li >
            <a href="/logout-admin" >
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Đăng Xuất</span>
            </a>
        </li>
    </ul>
</div>

