 <div class="horizontal-menu">
    <nav class="navbar top-navbar col-lg-12 col-12 p-0">
        <div class="container-fluid">
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-between">
                <ul class="navbar-nav navbar-nav-left" style="flex: 1 1">
                    <li class="nav-item ml-0 mr-5 d-lg-flex d-none">
                        <a class="nav-link horizontal-nav-left-menu" href="/" target="_blank">
                            <i class="mdi mdi-format-list-bulleted"></i>
                        </a>
                    </li>
                    <li>
                        <span class="text-dark font-weight-bold"> </span>
                    </li>
                </ul>
                <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="flex: 1 1">
                    <a class="navbar-brand brand-logo" href="/admin" style="font-weight: bold; background: linear-gradient(315deg, #f30c6c 0%, #000000 74%);  -webkit-background-clip: text; -webkit-text-fill-color: transparent;">Quản lý Admin </a>
                </div>
                <ul class="navbar-nav navbar-nav-right justify-content-end" style="flex: 1 1">
                    <li class="nav-item nav-profile dropdown">
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="mdi mdi-settings text-primary"></i>
                                Cài đặt
                            </a>
                            <a class="dropdown-item" href="/logout">
                                <i class="mdi mdi-logout text-primary"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>
        </div>
    </nav>
    <nav class="bottom-navbar">
        <div class="container-fluid">
            <ul class="nav page-navigation">

                <li class="nav-item">
                    <a class="nav-link" href="/admin/">
                        <i class="mdi mdi-web menu-icon"></i>
                        <span class="menu-title">Dashboard</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/system/list">
                        <i class="mdi mdi-web menu-icon"></i>
                        <span class="menu-title">Quản lý thông tin</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/list">
                        <i class="mdi mdi-account-multiple menu-icon"></i>
                        <span class="menu-title">Quản lý người dùng</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/list">
                        <i class="mdi mdi-blogger menu-icon"></i>
                        <span class="menu-title">Quản lý blog</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/grade/list">
                        <i class="mdi mdi-human-male-female menu-icon"></i>
                        <span class="menu-title">Quản lý Lớp Học</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/competition/ranks">
                        <i class="mdi mdi-highway menu-icon"></i>
                        <span class="menu-title">Quản lý danh sách thi đấu</span>
                        <i class="menu-arrow"></i>
                    </a>
                </li>
                
            </ul>
        </div>
    </nav>
</div>